In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
%matplotlib inline

In [2]:
train = pd.read_csv("Train.csv")
test = pd.read_csv("Test.csv")

In [4]:
train.shape, test.shape

((21201, 29), (7068, 25))

In [10]:
train.describe(include='all')

,Order No,User Id,Vehicle Type,Platform Type,Personal or Business,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),...,Arrival at Destination - Time,Distance (KM),Temperature,Precipitation in millimeters,Pickup Lat,Pickup Long,Destination Lat,Destination Long,Rider Id,Time from Pickup to Arrival
count,21201,21201,21201,21201.000000,21201,21201.000000,21201.000000,21201,21201.000000,21201.000000,...,21201,21201.000000,16835.000000,552.000000,21201.000000,21201.000000,21201.000000,21201.000000,21201,21201.000000
unique,21201,3186,1,NaN,2,NaN,NaN,15686,NaN,NaN,...,15725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,924,NaN
top,Order_No_7235,User_Id_393,Bike,NaN,Business,NaN,NaN,2:24:11 PM,NaN,NaN,...,3:24:03 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rider_Id_726,NaN
freq,1,645,21201,NaN,17384,NaN,NaN,6,NaN,NaN,...,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,247,NaN
mean,NaN,NaN,NaN,2.752182,NaN,15.653696,3.240083,NaN,15.653837,3.240225,...,NaN,9.506533,23.258889,7.905797,-1.281470,36.811264,-1.282581,36.811220,NaN,1556.920947
std,NaN,NaN,NaN,0.625178,NaN,8.798916,1.567295,NaN,8.798886,1.567228,...,NaN,5.668963,3.615768,17.089971,0.030507,0.037473,0.034824,0.044721,NaN,987.270788
min,NaN,NaN,NaN,1.000000,NaN,1.000000,1.000000,NaN,1.000000,1.000000,...,NaN,1.000000,11.200000,0.100000,-1.438302,36.653621,-1.430298,36.606594,NaN,1.000000
25%,NaN,NaN,NaN,3.000000,NaN,8.000000,2.000000,NaN,8.000000,2.000000,...,NaN,5.000000,20.600000,1.075000,-1.300921,36.784605,-1.301201,36.785661,NaN,882.000000
50%,NaN,NaN,NaN,3.000000,NaN,15.000000,3.000000,NaN,15.000000,3.000000,...,NaN,8.000000,23.500000,2.900000,-1.279395,36.807040,-1.284382,36.808002,NaN,1369.000000
75%,NaN,NaN,NaN,3.000000,NaN,23.000000,5.000000,NaN,23.000000,5.000000,...,NaN,13.000000,26.000000,4.900000,-1.257147,36.829741,-1.261177,36.829477,NaN,2040.000000
max,NaN,NaN,NaN,4.000000,NaN,31.000000,7.000000,NaN,31.000000,7.000000,...,NaN,49.000000,32.100000,99.100000,-1.147170,36.991046,-1.030225,37.016779,NaN,7883.000000

In [13]:
train.dtypes

Order No                                      object
User Id                                       object
Vehicle Type                                  object
Platform Type                                  int64
Personal or Business                          object
Placement - Day of Month                       int64
Placement - Weekday (Mo = 1)                   int64
Placement - Time                              object
Confirmation - Day of Month                    int64
Confirmation - Weekday (Mo = 1)                int64
Confirmation - Time                           object
Arrival at Pickup - Day of Month               int64
Arrival at Pickup - Weekday (Mo = 1)           int64
Arrival at Pickup - Time                      object
Pickup - Day of Month                          int64
Pickup - Weekday (Mo = 1)                      int64
Pickup - Time                                 object
Arrival at Destination - Day of Month          int64
Arrival at Destination - Weekday (Mo = 1)      int64
Arrival at Destination - Time                 object
Distance (KM)                                  int64
Temperature                                  float64
Precipitation in millimeters                 float64
Pickup Lat                                   float64
Pickup Long                                  float64
Destination Lat                              float64
Destination Long                             float64
Rider Id                                      object
Time from Pickup to Arrival                    int64
dtype: object